@charset "utf-8";
 html,body{
  height: 100%;
} 
pre{display: inline;margin: 0;padding: 0;border: 0;background: none;}
ul,li{
	list-style: none;
	padding: 0;
	margin: 0;
}
html,body,h1,h2,h3,h4,h5,th,td,p{
	margin: 0;
	padding: 0;
}
a{cursor: pointer;}
a:hover,a:visited,a:link{
	text-decoration:none;
}
table{
	border-collapse: initial;
}
button:disabled{color:gray!important;}
body{overflow:hidden; font-family:"SourceHanSansCN","Microsoft Yahei","微软雅黑","宋体";font-size:14px;}

input,button,select{outline: none;}
/*------------------------------ 通用样式 ------------------------------*/
/* 清除布局浮动 */
.clearfix:before,.clearfix:after{ content:""; display:block;}
.clearfix:after{ clear:both;}
.clearfix{ zoom:1;}
.clear{ clear:both; display:block; overflow:hidden; visibility:hidden; width:0; height:0;}